<link rel="stylesheet" href="/static/style.css" type="text/css">


<form action="/signup" method="POST">
<div class="signup">
<div class="signup-screen">
<div class="signup">
<h1>Sign Up</h1>
</div>
<div class="signup-form">
<div class="control-group">
                <input type="text" class="signup-field" value = "" placeholder="name" name="name">
<label class="signup-field-icon fui-name" for="signup-name"></label></div>
<div class="control-group">
				<input type="text" class="signup-field" value="" placeholder="username" name="username">
<label class="signup-field-icon fui-user" for="signup-user"></label></div>
<div class="control-group">
				<input type="password" class="signup-field" value="" placeholder="password" name="password">
<label class="signup-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>